.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.forms{
  box-sizing: border-box;
  display: inline-block;
  position: absolute;
  left: 580px;
  top: 80px;
  max-width: 100%;
  padding-left: 50px;
}

.managebot{
  position: relative;
  right: 180px;
  top: 1px;
  font-size: 35px;

}

.botAccuracy{
  padding-top: 50px;
  position: relative;
  right: 70px;
  top: 1px;
  font-size: 35px;
}


.trainBot{
  padding-top: 50px;
  position: relative;
  right: 20px;
  top: 1px;
  font-size: 35px;
}
.unrecognizedMails{
  padding-top: 30px;
  position: relative;
  left: 1px;
  top: 1px;
  font-size: 35px;
}
.scenarioHeading{
  padding-top: 10px;
  position: relative;
  right: 170px;
  top: 1px;
  font-size: 35px;
}
.btn{
  position: relative;
  left: 170px; 
}
.field{
  padding: 20px;
}

p{
  text-align: left;
  position: relative;
  left: 150px;
  top: 10px;
}
.MuiTextField-root{
  height: 50px;
}
.block{
  text-indent: 10em;
  float: right;
  height: 50;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body, html, #root, .app, .container {
  width: 100%;
  height: 100%;


}


.container {
  font-size: 28px;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #282c34;
}
.loginForm {
  padding-top:5px;
}
.inputBoxes {
 box-sizing: border-box;
 width: 100%;
 max-width: 40px;
 padding-top: 16px;
 padding-left: 50px;
 padding-right: 50px;
}

.inputField {
  padding-left: 500px;
  padding-right: 500px;
  padding-top: 16px;
}

.input {
  
 box-sizing: border-box;
 outline: none;
 border: solid 3px #1189de;
 border-radius: 4px;
 color: #292929;
 width: 400px;
 padding: 12px;
 font-size: 18px;
 
 background: linear-gradient(to bottom, #EAEAEA, #DBDBDB, #F2F2F2, #ADA996);
}

.submitButton {
 padding-left:620px;
 padding-top: 16px;
}


.btn {
 width: 35%;
 min-width: 170px;
 color: white;
 padding: 12px;
 font-size: 18px;
 font-weight: bold;
 border: solid 3px #1189de;
 border-radius: 15px;
 background:  #1189de;
 cursor: pointer;
}

.botTitle{
  padding-left: 1180px;
  margin-top: 0px;
  color: #1189de;
  width: 100%;
  font-size: 36px;
}

img{
  padding-top: 1px;
  padding-left: 5px;
  max-width:15%;
  height:auto;
}

.salutation{
  padding-top: 25px;
  padding-left: 660px;
  font-size: 25px;
  position: relative;
  left: 20px;
}

.Airtel{
  padding-top: 20px;
  padding-left: 30px;
}
.User{
  max-width: 300%;
  height: 200%;
  padding-top: 80px;
  padding-left: 680px;
  position: relative;
  left: -340px;
}

.check{
  padding-left: 520px;
  padding-top: 16px;
  position: relative;
  left: -330px;
  top: 45px;
}